@model Beis.LearningPlatform.Web.Models.CmsAccordionListViewModel
@if (Model.HasContent == false)
{
    return;
}

@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
}

<div class="govuk-width-container govuk-!-padding-top-4 govuk-!-padding-bottom-4">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="accordion-wrapper">
                @foreach (var accordionItem in Model.AccordionItems)
                {
                    if (accordionItem.HasContent == false) continue;

                    var strCopy1 = "";
                    var strCopy2 = "";
                    strCopy1 = Markdown.ToHtml(accordionItem.copy1, _pipeline);
                    strCopy2 = Markdown.ToHtml(accordionItem.copy2, _pipeline);

                    <div class="accordion-item">
                        <button class="accordion">@accordionItem.Header</button>
                        <div class="panel">
                            <div class="govuk-body">
                                <div>
                                    @Html.Raw(strCopy1)
                                </div>
                                <div class="graybgpnl">
                                    @Html.Raw(strCopy2)
                                </div>

                            </div>

                        </div>

                    </div>
                }

            </div>
        </div>
    </div>
</div>