.beis-phase-banner {
    border-top: 1px solid $govuk-border-colour;
    border-bottom: 1px solid $govuk-border-colour;
}

.beis-phase-banner__wrap {
    border-bottom: none;
}

#anchor0.beis-grey.divider {
    display: none;
}