@model CmsBackLinkViewModel
@if (!Model.HasContent)
{
    return;
}
<div class="govuk-width-container@(Model.IsJavascriptLink ? " js-go-back-link-container" : "")" style="@(Model.IsJavascriptLink ? "display:none" : "");" data-tabclick="true">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <a id="@(Model.LinkId)" href="@(Model.BackLink.LinkUrl)" class="govuk-back-link">@(Model.BackLink.LinkText)</a>
        </div>
    </div>
</div>
