@model Beis.LearningPlatform.Web.Models.FeedbackPromptViewModel
<div data-js-display="block" style="display:none;">
    <partial name="CMSPageViews/_PartialFeedbackPromptJs" model="@Model.CmsPageComponent" />
</div>