@model Beis.LearningPlatform.Web.Models.ComparisonToolPageViewModel
<partial name="CMSPageViews/_PartialRenderCMSComponents" model="@Model.CMSPageViewModel" />
@if (Model.CMSPageViewModel.hero_banners != null)
{
    <partial name="CMSPageViews/_PartialHeroBanner" model="@Model.CMSPageViewModel" />
}

<div class="govuk-width-container govuk-!-padding-top-6 govuk-!-padding-bottom-6">

    <div class="govuk-grid-row govuk-!-padding-top-6">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl govuk-!-padding-top-3 govuk-!-margin-0">Filter software</h1>
        </div>

    </div>
    <div class="govuk-header-yellow-line">

    </div>


    <div class="govuk-form-group govuk-!-margin-3">
        <fieldset class="govuk-fieldset">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                @foreach (var tag in Model.ProductCategoryList)
                {
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input productCategory" data-id="@tag.systemName" name="categoryId-@tag.systemId" id="categoryId-@tag.systemName" type="checkbox"
                            @if(Model.ProductCategoryIds?.Contains(tag.systemName) == true)
                            {
                                <text>checked</text>
                            }
                        >
                        <label class="govuk-label govuk-checkboxes__label" for="categoryId-@tag.systemName">
                            @tag.friendlyDisplayName
                        </label>
                    </div>
                }

            </div>

        </fieldset>
    </div>

</div>

@if (Model.products?.Count > 0)
{
    <div class="govuk-width-container govuk-!-padding-top-2  govuk-!-padding-bottom-8 product">
        <div class="govuk-grid-row" id="allProductsDiv">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl govuk-!-padding-top-3">All products</h1>
            </div>
        </div>

        <partial name="ComparisonToolViews/_PartialProductCategory" model="Model.ProductCategoryAccountingViewModel" />
        <partial name="ComparisonToolViews/_PartialProductCategory" model="Model.ProductCategoryCrmViewModel" />
        <partial name="ComparisonToolViews/_PartialProductCategory" model="Model.ProductCategoryEcommerceViewModel" />
    </div>
}
