@model Beis.LearningPlatform.Web.Models.ComparisonToolPageViewModel
<div class="govuk-width-container govuk-!-padding-top-6 govuk-!-padding-bottom-6">
    <partial name="ComparisonToolViews/_PartialProductCommon" />
    @foreach (var tag in Model.ProductCategoryList)
    {
        <div>
            <input class="productCategory" style="cursor: pointer" type="checkbox" name="categoryId-@tag.id" id="categoryId-@tag.id" data-id="@tag.id" />
            @tag.displayName
        </div>
    }
</div>

@if (Model.products?.Count > 0)
{
    <div id={{id}}} class="govuk-width-container govuk-!-padding-top-8  govuk-!-padding-bottom-8 product">
        <div class="govuk-grid-row" id="allProductsDiv">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl govuk-!-padding-top-3">All products</h1>
            </div>
        </div>

        <partial name="ComparisonToolViews/_PartialProductCategory" model="Model.ProductCategoryAccountingViewModel" />
        <partial name="ComparisonToolViews/_PartialProductCategory" model="Model.ProductCategoryCrmViewModel" />
        <partial name="ComparisonToolViews/_PartialProductCategory" model="Model.ProductCategoryEcommerceViewModel" />
    </div>
}