@model Beis.LearningPlatform.Web.Models.ComparisonToolPageViewModel
@{
    var icount = 0;
    var idstring = string.Empty;
}

<div class="govuk-width-container govuk-!-padding-top-6 govuk-!-padding-bottom-6">
    <partial name="ComparisonToolViews/_PartialProductCommon" />

    @if (Model.productsCategorySelected.Count > 0)
    {
        icount = 1;
        idstring = "clip" + icount.ToString();

        <div class="govuk-!-padding-bottom-3">

            @foreach (var tag in Model.productsCategorySelected)
            {
                var displayTag = Model.ProductCategoryList.Where(x => x.name == tag).FirstOrDefault();
                if (displayTag != null)
                {
                    idstring = "clip" + (icount++).ToString();
                    var tmpproductsCategorySelected = Model.SelectedProductCategoryId.Split(",").ToList();

                    var routeData = new Dictionary<string, string>();
                    tmpproductsCategorySelected.Remove(tag);
                    routeData.Add("productCategoryIds", string.Join(",", tmpproductsCategorySelected));

                    <a style="text-decoration: none" asp-controller="comparisonTool" asp-action="FilterBy" asp-all-route-data="routeData">
                        <strong class="govuk-tag beis-tag">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#@idstring)">
                                    <path d="M3.75717 10.8284L5.17139 12.2426L12.2425 5.17155L10.8282 3.75733L3.75717 10.8284Z" fill="#0B0C0C" />
                                    <path d="M5.17154 3.75736L3.75732 5.17157L10.8284 12.2426L12.2426 10.8284L5.17154 3.75736Z" fill="#0B0C0C" />
                                    <circle cx="8" cy="8" r="7.5" stroke="black" />
                                </g>
                                <defs>
                                    <clipPath id="@idstring">
                                        <rect width="16" height="16" fill="white" transform="translate(16) rotate(90)" />
                                    </clipPath>
                                </defs>
                            </svg>
                            @displayTag.displayName
                        </strong>
                    </a>
                }
            }
        </div>
    }

    <div class="details">
        <div class="beis-white">
            <details class="govuk-details" data-module="govuk-details" open>
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Add tags
                    </span>
                </summary>
                <div class="govuk-details__text">
                    @foreach (var tag in Model.ProductCategoryList)
                    {
                        icount++;
                        idstring = "lowerclip" + icount.ToString();

                        // Check to ensure it hasn't been selected for filtering
                        if (!Model.productsCategorySelected.Contains(tag.name))
                        {

                            IDictionary<string, string> routeData = new Dictionary<string, string>();
                            if (!string.IsNullOrWhiteSpace(Model.SelectedProductCategoryId))
                            {
                                routeData.Add("productCategoryIds", Model.SelectedProductCategoryId + "," + tag.name);
                            }
                            else
                            {
                                routeData.Add("productCategoryIds", tag.name);
                            }

                            <a style="text-decoration: none" asp-controller="comparisonTool" asp-action="FilterBy" asp-all-route-data="routeData">
                                <strong class="govuk-tag beis-tag">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#@idstring)">
                                            <path d="M7 13L9 13L9 3L7 3L7 13Z" fill="#0B0C0C" />
                                            <path d="M3 7L3 9L13 9L13 7L3 7Z" fill="#0B0C0C" />
                                            <circle cx="8" cy="8" r="7.5" stroke="black" />
                                        </g>
                                        <defs>
                                            <clipPath id="@idstring">
                                                <rect width="16" height="16" fill="white" transform="translate(16) rotate(90)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    @tag.displayName
                                </strong>

                            </a>
                        }
                    }
                </div>
            </details>
        </div>
    </div>
</div>

@if (Model.products?.Count > 0)
{
    <div id={{id}}} class="govuk-width-container govuk-!-padding-top-8  govuk-!-padding-bottom-8 product">
        @if (Model.productsCategorySelected.Count == 0)
        {
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl govuk-!-padding-top-3">All products</h1>
                </div>
            </div>
        }

        <partial name="ComparisonToolViews/_PartialProductCategoryNoJs" model="Model.ProductCategoryAccountingViewModel" />
        <partial name="ComparisonToolViews/_PartialProductCategoryNoJs" model="Model.ProductCategoryCrmViewModel" />
        <partial name="ComparisonToolViews/_PartialProductCategoryNoJs" model="Model.ProductCategoryEcommerceViewModel" />

    </div>
}