<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Get your software discount</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
        <p class="govuk-body-l">
            Help to Grow: Digital can offer your business a discount of up to 50% towards the cost of buying approved software, worth up to &pound;5,000.
        </p>
        <p class="govuk-body-l">
            To apply for your discount today, compare and select an approved software product below.
        </p>
        <p class="govuk-body-l">
            Discounts are subject to business eligibility. <a id="link-comparisontoolviews-productcommon-eligible" href="/eligibility" role="link">Check if you are eligible here</a>.
        </p>
        <p class="govuk-body-l">
            <strong>Note:</strong> You can only apply for one discount per eligible business.
        </p>
        <p class="govuk-body-l">
            The Help to Grow: Digital discount cannot be split across more than one software.
        </p>
    </div>
</div>

<h2 class="govuk-heading-l govuk-!-padding-top-8">
    Filter Products on category
</h2>