@model Beis.LearningPlatform.Web.Models.ComparisonToolPageViewModel
<partial name="CMSPageViews/_PartialRenderCMSComponents" model="@Model.CMSPageViewModel" />
@if (Model.CMSPageViewModel.hero_banners != null)
{
    <partial name="CMSPageViews/_PartialHeroBanner" model="@Model.CMSPageViewModel" />
}

<div class="govuk-width-container">

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">Filter software</legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                @foreach (var tag in Model.ProductCategoryList)
                {
                    <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input productCategory" data-id="@tag.name" name="categoryId-@tag.id" id="categoryId-@tag.name" type="checkbox"
                            @if(Model.ProductCategoryIds?.Contains(tag.name) == true)
                            {
                                <text>checked</text>
                            }
                        />
                        <label class="govuk-label govuk-checkboxes__label" for="categoryId-@tag.name">
                            @tag.friendlyDisplayName
                        </label>
                    </div>
                }

            </div>
        </fieldset>
    </div>
</div>

@if (Model.products?.Count > 0)
{
    <div class="govuk-width-container product">
        <div id="allProductsDiv">
            <h1 class="govuk-heading-xl govuk-!-padding-top-3">All products</h1>
        </div>

        <partial name="ComparisonToolViews/_PartialProductCategory" model="Model.ProductCategoryAccountingViewModel" />
        <partial name="ComparisonToolViews/_PartialProductCategory" model="Model.ProductCategoryCrmViewModel" />
        <partial name="ComparisonToolViews/_PartialProductCategory" model="Model.ProductCategoryEcommerceViewModel" />

    </div>

}
