@model Beis.LearningPlatform.Web.Models.DataPageViewModel<Beis.LearningPlatform.Web.Models.SatisfactionSurveyViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr aria-hidden="true" id="anchor0" class="beis-grey divider">
<main id="main-heading" role="main" class="satisfaction-survey">
    <div class="govuk-width-container govuk-!-padding-bottom-8">
        <div class="beis-white govuk-grid-column-full">
            <div class="govuk-width-container govuk-!-margin-bottom-6 ">

                <div class="govuk-grid-column-two-thirds">
                    <div>
                        <img src="~/assets/images/HTG_logo_960x188.svg" alt="Help to Grow Logo" class="beis-htg-logo" width="400" asp-append-version="true" />
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="govuk-form-group"></div>
    </div>
</main>