@model (IList<Beis.LearningPlatform.Web.StrapiApi.Models.CMSSearchArticle> cmsSearchArticles, string linksAlign)
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
    var strTopLineBg = string.Empty;
}

@if (Model.cmsSearchArticles != null)
{
    foreach (var article in Model.cmsSearchArticles.OrderBy(x => x.order))
    {
        article.hide = article.hide.HasValue ? article.hide : false;

        if (article.hide == false)
        {
            <div class="govuk-width-container">
                <div class="beis-landing-page-list__item">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            
                            @if (article.image != null)
                            {
                                <vc:cms-image options='new CmsImageViewModel{ ImageUrl = article.image.url, CssClass = "beis-landing-page-list__image" }' />
                            }
                            
                        </div>

                        @if (article.Article != null)
                        {
                            <div class="govuk-grid-column-one-half">
                                
                                @if (!string.IsNullOrWhiteSpace(article.Article.subheader) || !string.IsNullOrWhiteSpace(article.Article.header))
                                {
                                    <h2 class="govuk-heading-l beis-landing-page-list__heading">
                                        @(string.IsNullOrWhiteSpace(article.Article.header) ? article.Article.subheader : article.Article.header)
                                    </h2>
                                }
                                @Html.Raw(!string.IsNullOrWhiteSpace(article.Article.copy) ? Markdown.ToHtml(article.Article.copy, _pipeline).Replace("<p>", "<p class=\"govuk-body\">") : string.Empty)

                                <partial name="CMSPageViews/_PartialTextLinks" model="@(article.Links, Model.linksAlign)" />
                            
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    }
}