@model CmsLandingPageHeroListViewModel
<div class="govuk-width-container beis-landing-page-list" id="@Model.Component.id">
    @foreach(var hero in Model.Heroes)
    {
        hero.AlternateLayout = Model.Heroes.IndexOf(hero) % 2 != 0;
        <vc:cms-landing-page-hero landing-page-hero="@hero" />
    }
</div>