<div class="beis-homepage-hero-banner">
    <div class="govuk-width-container">
        <h1 class="govuk-heading-l beis-homepage-hero-banner__heading">Header</h1>
        <div class="beis-homepage-hero-banner__content">
            <p>Hello CmsHomePageWarningViewModel</p>
        </div>
    </div>
</div> 