<div class="beis-global-hero-banner">
    <div class="govuk-width-container">
        <h1 class="govuk-heading-l beis-global-hero-banner__heading">Header</h1>
        <div class="beis-global-hero-banner__content">
            <p>Hello CmsglobalWarningViewModel <a href="link">Test link</a></p>
        </div>
    </div>
</div> 