.beis-section-break {
    background: none;
}

.beis-section-break.beis-grey {
    border-bottom-color: $beis-grey;
    background: none;
}

.beis-section-break.beis-navy-blue {
    border-bottom-color: $beis-navy-blue;
    background: none;
}

.beis-section-break.beis-blue {
    border-bottom-color: $beis-blue;
    background: none;
}

.beis-section-break.beis-yellow {
    border-bottom-color: $beis-yellow;
    background: none;
}