@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
}

<div class="call-out" id="@("anchor" + Model.Index)">
    <div class="govuk-width-container govuk-!-padding-top-6 govuk-!-padding-bottom-6">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-inset-text @Model.AlteredBackground">
                    @if (Model.textblocks != null)
                    {
                        foreach (var textblock in Model.textblocks)
                        {
                            textblock.hide = textblock.hide.HasValue ? textblock.hide : false;

                            if (textblock.hide == false)
                            {
                                @if (!string.IsNullOrWhiteSpace(textblock.copy))
                                {
                                    @Html.Raw("<div class=\"markdown\">" + Markdown.ToHtml(textblock.copy, _pipeline) + "</div>")
                                }

                                <partial name="CMSPageViews/_PartialTextLinks" model="@Model.links" />
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>