@model List<Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageSideNavigation>
<div class="side-navigation govuk-!-padding-top-6">
    @{
        var cmsPageSides = Model.SelectMany(sideNav => sideNav.Side);
    }
    @foreach (var cmsPageSide in cmsPageSides)
    {
        <ul>
            @foreach (var item in cmsPageSide.links)
            {
                <li>
                    <a id="link-cmspageviews-sidenavigation-@item.GetGaLinkId()" class="govuk-link" href="">@item.label</a>
                </li>
            }

        </ul>
    }
</div>