@using Beis.LearningPlatform.Web.Utils
@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent
@if (Model.type == "dividerContentWidth")
{
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="top-line @CamelCaseConverter.Delimiter(Model.color, "-") govuk-!-padding-bottom-1">
                </div>
            </div>
        </div>
    </div>
}
else
{
    if (string.IsNullOrWhiteSpace(Model.color))
    {
        @Html.Raw("<hr aria-hidden=\"true\" id=\"anchor" + ViewData["intCurrComponentIndex"] + "\" class=\"beis-navy-blue\" />")
    }
    else
    {
        @Html.Raw("<hr aria-hidden=\"true\" id=\"anchor" + ViewData["intCurrComponentIndex"] + "\" class=\"" + @CamelCaseConverter.Delimiter(Model.color, "-") + " " + Model.type + "\">")
    }    
}
