@model List<Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageTag>

@if (Model != null)
{
    <p class="govuk-button-group">
        @foreach (var button in Model)
        {
            if (!string.IsNullOrWhiteSpace(button.url))
            {
                if (!string.IsNullOrWhiteSpace(button.label))
                {
                    <a id="link-cmspageviews-tag-icon-@(button.name?.ToLowerInvariant())" href="@button.url" role="button" draggable="false" class="@button.AlteredCustomClass" data-module="govuk-button">
                        @button.label
                        @if (button.icon != null)
                        {
                            if (button.icon.Count > 0)
                            {
                                <vc:cms-image options='new CmsImageViewModel { ImageUrl = button.icon[0].url, CssClass = "svgimg", Width = button.icon[0].width, Height = button.icon[0].height }'/>
                            }
                        }
                    </a>
                }
                else
                {
                    if (!string.IsNullOrWhiteSpace(button.displayName))
                    {
                        IDictionary<string, string> routeData = new Dictionary<string, string>();
                        routeData.Add("tagAction", "add");
                        routeData.Add("tag", button.displayName);
                        <a id="link-cmspageviews-tag-@(button.name?.ToLowerInvariant())" tyle="text-decoration: none" asp-controller="Home" asp-action="GuidanceAndToolsUpdateTags" asp-all-route-data="routeData"
                           role="button" draggable="false" class="govuk-tag beis-tag" data-module="govuk-button">
                            <strong class="">
                                @button.displayName
                            </strong>
                        </a>
                    }
                }

            }
        }
    </p>
}