@model (Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent component, int componentIndex)
@{
    var _pipeline = new MarkdownPipelineBuilder().UseAdvancedExtensions().UseBootstrap().Build();
    var topSpaceClass = Model.component.topSpace != "nospace" ? "govuk-!-padding-top-6" : "";
    var bottomSpaceClass = Model.component.bottomSpace != "nospace" ? "govuk-!-padding-bottom-6" : "";
}

<div class="beis-image-caption" id="@("anchor" + Model.componentIndex)">
    <div class="govuk-width-container @topSpaceClass @bottomSpaceClass">
        <div class="img-wrapper govuk-!-padding-bottom-6 @CamelCaseConverter.Delimiter(Model.component.background, "-")">
            @if (Model.component.image != null)
            {
                <vc:cms-image options='new CmsImageViewModel{ ImageUrl = Model.component.image.url }' />
            }
        </div>

        @if(Model.component.textblocks?.Count > 0)
        {
            if (Model.component.textblocks[0].copy?.Length > 0)
            {
                <p class="govuk-body beis-image-caption">@Markdown.ToHtml(Model.component.textblocks[0].copy, _pipeline).Replace("<p>", "").Replace("</p>", "")</p>
            }
        }
    </div>
</div>