@model Beis.LearningPlatform.Web.StrapiApi.Models.CMSPageComponent
@{
    string SetButtonType(string btnType, string customClass)
    {
        var className = $"beis-white-{btnType}";
        return customClass != null ? $"{className} {customClass}" : className;
    }
}

<div class="feedback-prompt" id="feedback-prompt">
    <div class="feedback-bg-color">
        <div class="govuk-width-container govuk-!-padding-1">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-one-half">
                    <div class="wrapper-left">
                        <h2 id="FeedbackYesNoMessage" class="message">
                            Thank you for your feedback. If you’d like to tell us more about your experience today,
                            <a id="link-cmspageviews-feedbackpromptjs-useful-please-visit-survey" title="Please visit our survey" target="_blank" href="https://beis.fra1.qualtrics.com/jfe/form/SV_0GLt4cTG0Oi1Pmu" class="beis-white-text">please visit our survey</a>.
                        </h2>
                    </div>
                </div>

                <div class="govuk-grid-column-one-half">
                    <div class="wrapper-right">                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>