@model Beis.LearningPlatform.Web.Models.DiagnosticTool.DiagnosticToolForm

<p class="govuk-body">
    You’re in transition.
</p>
<p class="govuk-body">
    You’ve made a great start with digital adoption and should already be seeing the benefits.<br />
</p>
<p class="govuk-body">
    With your current level of understanding, adopting new software shouldn't be too tricky, but there are areas of your business that may need extra support to get there.<br />
</p>