@using Beis.LearningPlatform.Library.Enums
@model Beis.LearningPlatform.Web.Models.DiagnosticTool.DiagnosticToolForm

<div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">
    <p class="govuk-body govuk-!-font-size-24">What do your answers mean?</p>
</div>
    
    @switch (Model.SkilledModuleTwoResultType)
    {
        case SkilledModuleTwoResultType.DigitalNewComer:
            <partial name="SkilledModule2Views/_PartialDigitalNewComer" model="@Model" />
            break;
        case SkilledModuleTwoResultType.DigitalMover:
            <partial name="SkilledModule2Views/_PartialDigitalMover" model="@Model" />
            break;
        case SkilledModuleTwoResultType.DigitalPerfomer:
            <partial name="SkilledModule2Views/_PartialDigitalPerformer" model="@Model" />
            break;
    }

<div class="govuk-grid-column-two-thirds">
    <p class="govuk-body"><strong>Here's what you said your business priorities are:</strong></p>
    <div class="govuk-body summary-grey govuk-!-padding-1">
        @if (Model.SelectedPriorities().Any())
        {
            <ul>
                @foreach (var priority in Model.SelectedPriorities())
                {
                    <li>@priority</li>
                }
            </ul>
        }
        else
        {
            <p>You have not selected any business priorities</p>
        }
    </div>
    <p class="govuk-body"><strong>Keep a note of this information, you'll need it in Getting ready for digital change.</strong></p>
                                  
</div>