@model Beis.LearningPlatform.Web.Models.DiagnosticTool.DiagnosticToolForm

    <div class="govuk-grid-row adaptive-image">
        <div class="govuk-grid-column-full">
            <div class="mobile govuk-!-margin-bottom-6">
                <img src="/assets/images/learning-modules-two-digital-performer-mobile.svg" alt="Congratulations! You’re a Digital performer." />
            </div>
            <div class="desktop">
                <img src="/assets/images/learning-modules-two-digital-performer.svg" alt="Congratulations! You’re a Digital performer." />
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds govuk-!-padding-top-9">
        <p class="govuk-body">
            <strong>You’re a Digital performer.</strong>
        </p>
        <p class="govuk-body">
            Your business already understands digital ways of working and they benefit your business.<br />
        </p>

        <p class="govuk-body">
            Your digital readiness is high.<br />
        </p>
        <p class="govuk-body">
            You’ve got the hardware and software in place and you’re comfortable with using technology to help business growth.
        </p>
    </div>