@import 'beis-variables.scss';
@import 'beis-mixins.scss';

.adaptive-image {
    .mobile {
        img {
            width: 100%;
        }

        @include respond(xl) { /* Gap in our brakpoints between table and desktop (>641 and <769 has no coverage in beis-mixins. Hide mobile for this gap.) */
            display: none;
        }

        @include respond(desktop) {
            display: none;
        }

        @include respond(tablet) {
            display: none;
        }

        @include respond(mobile) { /* override the xl workaround above */
            display: block;
        }
    }

    .desktop {
        img {
            width: 100%;
        }

        @include respond(tablet) {
            display: block;
        }

        @include respond(mobile) {
            display: none;
        }
    }
}
