$beis-navy-blue: #1E1A34;
$beis-blue: #1D3A64;
$beis-blue-feedback: #1C1C78;
$beis-link-default: #1D70B8;
$white: #fff;
$black: #000;
$beis-aqua: #7AEBC9;
$beis-yellow: #FFB000;
$secondary-grey-btn: #f3f2f1;
$primary-blue-btn: #24249C;
$beis-grey: #B1B4B6;
