@import 'beis-variables.scss';
@import 'beis-mixins.scss';

.card {

    $beis-yellow-light: #FFF7BF;

    .reverse-block {
        display: inline-block;
    }

    .cards {

        button {
            &.number {
                padding: 0 0 0 0;
                text-decoration: none;

                &:focus {
                    background: #ffdd00;
                    border: 2px solid #000;
                    color: #000;
                }
            }
        }

        a.govuk-link,
        p {
            font-size: 24px;

            @include respond(tablet) {
                font-size: 17px;
            }
        }

        margin: 0 80px 40px 40px;
        box-sizing: border-box;
        position: relative;
        padding: 10px 20px 10px 60px;
        font-family: "GDS Transport", arial, sans-serif;


        .number {
            position: absolute;
            top: calc(50% - 32px);
            width: 64px;
            height: 64px;
            font-size: 48px;
            line-height: 64px;
            font-family: "GDS Transport", arial, sans-serif;
            font-weight: bold;
            border-radius: 50px;
            text-align: center;

            &.one {
                left: -27px;
                outline: 10px solid $beis-aqua;
                border: 2px solid $black;
                color: $black;
                z-index: 2;

            }

            &.two {
                left: -27px;
                outline: 10px solid $beis-yellow;
                border: 2px solid $black;
                color: $black;
                z-index: 3;

            }

            &.three {
                left: -27px;
                outline: 10px solid $beis-blue-feedback;
                border: 2px solid $white;
                color: $white;
                z-index: 2;


            }

            &.four {
                left: -27px;
                outline: 10px solid $beis-yellow-light;
                border: 2px solid $black;
                color: $black;

            }
        }
    }

    .one,
    .two,
    .three,
    .four {
        &.hidden-card {
            background: transparent;
            color: transparent;

            a {
                color: transparent;
            }
        }
    }


    .one {
        background: $beis-aqua;
        color: $black;

    }

    .two {
        background: $beis-yellow;
        color: $black;


    }

    .three {
        background: $beis-blue-feedback;
        color: $white;

        .govuk-link {
            color: $beis-yellow;
        }

    }

    .four {
        background: $beis-yellow-light;
        color: $black;

        
    }
}
