@import 'beis-variables.scss';
@import 'beis-mixins';

.comparison-tool-details {

    .additional-costs {

        li {
            padding: 0 0 10px 0;
            list-style: initial;
            display: flex;

            div {
                width: 33.33%;

                &:first-child {
                    display: list-item;
                }
            }

            @include respond(tablet) {
                display: list-item;

                div {
                    width: 100%;
                }
            }
        }
    }

    .no-border {
        margin: 0;

        dd, dt {
            border: 0;

            @include respond(tablet) {
                display: block;
                width: 100%;

                &:first-child {
                    padding: 20px 0 0 0;
                }
            }
        }
    }

    .govuk-details__text {
        padding: 0;
        padding-left: 25px;
        border: 0;
    }

    .beis-discrount-table {
        display: flex;

        dd {
            margin: 0 20px 0 0;
            width: 33.33%;
            border-right: 1px solid $beis-grey;

            &:last-child {
                border: 0;
            }
        }

        span,
        strong {
            display: block;
        }

        strong {
            font-weight: 700;
            padding: 0 0 10px 0;
        }

        span {
            padding: 0 10px 0 0;
        }

        @include respond(tablet) {
            flex-direction: column;

            dd {
                width: 100%;
                margin: 0;
                border: 0;
            }

            strong {
                padding: 10px 0;
            }

            span {
                padding: 0 0 10px 0;
            }
        }
    }

    .govuk-summary-list {
        @include respond(tablet) {

            .mobile-side-by-side {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0;

                dd {
                    padding-right: 0;
                    margin: 0 0 5px 0;
                }

                button {
                    width: 50%;
                    margin: 10px 0 10px 5px;
                }
            }
        }
    }

    .govuk-summary-list__key {
        width: 50%;
    }

    dd.govuk-summary-list {
        display: table-cell;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid $beis-grey;

        p {
            padding: 0;
            margin: 0;
        }

        @include respond(tablet) {
            border: 0;

            dt {
                font-size: 24px;
            }

            dd {
                display: block;
                border: 0;
                margin: 0;

                &:last-child {
                    margin: 0 0 15px 0;
                }
            }
        }
    }

    .product-links {
        padding: 0 0 40px 0;

        a {
            padding: 0 20px 20px 0;
        }

        @include respond(tablet) {
            padding: 20px 0 0;

            a {
                display: block;
                padding: 0 0 20px 0;
            }
        }
    }

    .product-image {
        display: flex;
        align-items: center;

        p {
            padding: 20px;
            margin: 0;
        }
    }

    .image-mask {
        display: inline-block;
        width: 90px;
        height: 90px;
        border-radius: 90px;
        overflow: hidden;
        margin: 10px 0;
    }
}
