@import 'beis-variables.scss';
/*.details {
    .beis-aqua {
        .govuk-details__text,
        .govuk-details__summary {
            color: $beis-navy-blue;
            text-decoration: underline;
        }

        .govuk-details__summary:before {
        }

        .govuk-details__text {
            border-color: $beis-navy-blue;
        }
    }
}*/


