@import 'beis-mixins.scss';
@import 'beis-variables.scss';

.landing-page-hero {
    &.columns {
        .left-column {
            padding: 20px;
        }

        .right-column {
            img {
                width: 300px;
                margin: 0px 0px -4px 0px;

                @include respond(mobile) {
                    display: none;
                }
            }
        }
    }

    .left-column {
        .beis-white-text {
            p {
                a {
                    color: #fff;
                }
            }
        }
    }

    .landing-page-hero-right {
        @include respond(tablet) {
            display: none;
        }
    }

    .cms-content {
        &.desktop-only {
            @include respond(tablet) {
                display: none;
            }
        }

        &.mobile-only {
            @include respond(tablet) {
                display: block;
            }
        }
    }
}
