$govuk-global-styles: true;

@import "settings/all";
@import "../../node_modules/govuk-frontend/govuk/all";

%govuk-heading-xl,
%govuk-heading-l, 
%govuk-heading-m,
.govuk-label,
.govuk-fieldset__legend {
    color: $beis-text-colour
}

@import "core/all";

@import "article.scss";
@import "articles.scss";
@import 'beis-mixins.scss';
@import 'beis-variables.scss';
@import "callout.scss";
@import "columns.scss";
@import "comparisonTool.scss";
@import "comparisonToolDetails.scss";
@import "details.scss";
@import "divider.scss";
@import "document.scss";
@import "fact.scss";
@import "footer.scss";
@import "feedbackPrompt.scss";
@import "heroBanner.scss";
@import "imagecaption.scss";
@import "image-with-text.component.scss";
@import "product.scss";
@import "quotes.scss";
@import "resources.scss";
@import "sideNavigation.scss";
@import "statistic.scss";
@import "svgimage.scss";
@import "tags.scss";
@import "text.scss";
@import "video.scss";
@import "toptip.component.scss";
@import "quote-callout.component.scss";
@import "statistics-text.component.scss";
@import "quote-column.component.scss";
@import "quote-two-thirds.component.scss";
@import "social-media.component.scss";
@import "case-studies.component.scss";
@import "card.component.scss";
@import "adaptive-image.component.scss";
@import "three-levels.component.scss";
@import "expression-of-interest.component.scss";

@import "objects/all";
@import "components/all";

.hide-element {
    border: 0;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.beis-white-text {
    color: #fff;
}

.beis-aqua-text {
    color: $beis-aqua;
}

.beis-navy-blue-text {
    color: $beis-navy-blue;
}

.beis-yellow-text {
    color: $beis-yellow;
}

.beis-blue-text {
    color: $beis-blue;
}

.beis-blue-feedback-text {
    color: $beis-blue-feedback;
}

.beis-black-text {
    color: #000;
}

.beis-grey-text {
    color: $beis-grey;
}

.beis-white {
    background-color: #fff;
}

.beis-aqua {
    background-color: $beis-aqua;
}

.beis-navy-blue {
    background-color: $beis-navy-blue;
}

.beis-yellow {
    background-color: $beis-yellow;
}

.beis-blue {
    background-color: $beis-blue;
}

.beis-blue-feedback {
    background-color: $beis-blue-feedback;
}

.beis-black {
    background-color: #000;
}

.beis-grey {
    background-color: $beis-grey;
}

.summary-grey {
    background: #f3f2f1;
    padding-left: 15px;
}

.beis-grey-secondary {
    background-color: $secondary-grey-btn;
}

.beis-text-margin-bottom-reset {
    margin-bottom: 0;
}


.govuk-button {
    &.secondary {
        background-color: $secondary-grey-btn;
    }

    &.primary {
        background-color: $primary-blue-btn;
        color: #fff;

        &.white-border {
            border: 1px solid #fff;
            color: #fff;
        }
    }

    &.primary-big {
        padding: 15px 25px;
        background-color: $beis-blue-feedback;
        font-size: 22px;
        font-weight: 700;
        color: #fff;

        @include respond(tablet) {
            font-size: 19px;
            padding: 10px 5px;
        }
    }
}

.beis-navy-blue,
.feedback-prompt {
    h1 {
        color: #fff;
    }

    h1.beis-yellow-text {
        color: $beis-yellow;
    }

    h1.beis-aqua-text {
        color: $beis-aqua;
    }

    .beis-white-positive {
        color: #fff;
        background: transparent;
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        border-bottom: 2px solid #fff;

        &:hover {
            background: #fff;
            color: #000;
        }
    }

    .beis-white-negative {
        color: #000;
        background: #fff;
        border: 2px solid #fff;

        &:hover {
            background: #000;
            color: #fff;
        }
    }
}

.feedback-prompt,
.beis-white {

    .beis-white-negative {
        color: #000;
        background: #fff;
        border: 2px solid #fff;

        &:link,
        &:hover,
        &:active,
        &:visited {
            background: #fff;
        }
    }

    .beis-black-positive {
        color: #000;
        border: 2px solid #000;

        &:hover {
            color: #fff;
            background: #000;
        }
    }

    .beis-black-negative {
        color: #fff;
        background: #000;
        border: 2px solid #000;

        &:hover {
            background: #fff;
            color: #000;
        }
    }
}

.hero-banner {
    h2 p strong {
        color: $beis-yellow;
    }

    a.hero-links:link,
    a.hero-links:visited {
        color: $beis-yellow;
    }
}

.details {
    .beis-navy-blue,
    .beis-blue,
    .beis-black {
        .govuk-heading-xl,
        .govuk-heading-l,
        .govuk-body,
        a:link,
        a:visited {
            color: #fff;
            font-size: 19px;
        }

        .quote-icon {
            path {
                fill: #fff;
            }
        }
    }

    .beis-aqua,
    .beis-yellow {
        .govuk-heading-xl,
        .govuk-heading-l,
        .govuk-body,
        a:link,
        a:visited {
            color: $beis-navy-blue;
            font-size: 19px;
        }
    }
}

.quotes {
    .beis-navy-blue,
    .beis-blue,
    .beis-black {
        .govuk-heading-xl,
        .govuk-heading-l,
        .govuk-body,
        a.quote-link:link,
        a.quote-link:visited {
            color: #fff;
            font-size: 19px;
        }

        .quote-icon {
            path {
                fill: #fff;
            }
        }
    }

    .beis-aqua,
    .beis-yellow {
        .govuk-heading-xl,
        .govuk-heading-l,
        .govuk-body,
        a.quote-link:link,
        a.quote-link:visited {
            color: $beis-navy-blue;
            font-size: 19px;
        }
    }
}

.article,
.articles {
    a.tag-link:link,
    a.tag-link:visited {
        color: #fff;
        font-size: 19px;
        background: $beis-aqua;
        color: $beis-navy-blue;
        text-transform: uppercase;
        font-weight: 900;
        box-shadow: none;
        display: inline-block;
        width: auto;
        margin: 20px 5px 0 0;
    }

    .govuk-button-group {
        flex-direction: row;
        margin: 0;

        @include respond(tablet) {
            margin: 20px 0 0 0;
            display: block;
        }
    }
}

.resources {
    a.tag-link:link,
    a.tag-link:visited {
        color: #fff;
        font-size: 19px;
        background: $beis-aqua;
        color: $beis-navy-blue;
        text-transform: uppercase;
        font-weight: 900;
        box-shadow: none;
        display: inline-block;
        width: auto;
        margin: 10px 10px 0 0;
    }

    .govuk-button-group {
        flex-direction: row;
        margin: 0;

        @include respond(tablet) {
            margin: 20px 0 0 0;
            display: block;
        }
    }
}

.tags {
    .beis-navy-blue,
    .beis-blue,
    .beis-black {
        .govuk-body,
        a.tag-link:link,
        a.tag-link:visited {
            color: #fff;
            font-size: 19px;
        }

        .govuk-body {
            p {
                line-height: 1.7;
            }

            a {
                line-height: 1;
                display: inline-block;
                padding: 8px;
                background: $beis-aqua;
                color: $beis-navy-blue;
                text-transform: uppercase;
                font-weight: 900;

                &:focus {
                    outline: 3px solid transparent;
                    color: #0b0c0c !important;
                    background-color: #ffdd00;
                    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
                    text-decoration: none;
                }
            }
        }
    }

    .beis-white,
    .beis-aqua,
    .beis-yellow {
        .govuk-body,
        a.tag-link:link,
        a.tag-link:visited {
            color: $beis-blue;
            font-size: 19px;
        }

        .govuk-body {
            p {
                line-height: 1.4;
            }

            a {
                line-height: 1.2;
                display: inline-block;
                padding: 0 10px;
                background: $beis-aqua;
                color: $beis-navy-blue;
                text-transform: uppercase;
                font-weight: 900;
            }
        }
    }
}

.beis-text {
    .beis-navy-blue,
    .beis-blue,
    .beis-black {
        .govuk-body,
        a.tag-link:link,
        a.tag-link:visited {
            color: #fff;
            font-size: 19px;
        }

        .govuk-body {
            p {
            }

            a {
                line-height: 1.2;
                display: inline-block;
                padding: 0 10px;
                background: $beis-aqua;
                color: $beis-navy-blue;
                text-transform: uppercase;
                font-weight: 900;
            }
        }
    }

    .beis-white,
    .beis-aqua,
    .beis-yellow {
        .govuk-body,
        a.tag-link:link,
        a.tag-link:visited {
            color: $beis-blue;
            font-size: 19px;
        }

        .govuk-body {
            p {
            }

            a {
                line-height: 1.2;
                display: inline-block;
                padding: 0 10px;
                background: $beis-aqua;
                color: $beis-navy-blue;
                text-transform: uppercase;
                font-weight: 900;
            }
        }
    }
}

.fact {
    a.fact-link:link,
    a.fact-link:visited {
        font-size: 19px;
        color: $beis-yellow;
        font-weight: 900;
        display: inline-block;
    }
}

.call-out {
    .govuk-inset-text {
        a.phone:link,
        a.phone:visited {
            font-size: 19px;
            font-weight: 700;
            color: $beis-link-default;
        }
    }
}

.beis-tag {
    font-size: 19px;
    background: $beis-aqua;
    color: $beis-navy-blue;
    margin: 3px;
}

button:focus {

    .beis-tag {
        font-size: 19px;
        color: #0b0c0c !important;
        background-color: #ffdd00;
        margin: 3px;
    }
}

.details {
    .beis-aqua {
        .beis-link-icon {
            margin-left: 0px;
            margin-right: 10px;
            vertical-align: middle;
            flex-shrink: 0;
            align-self: center;
        }

        .results-link {
            display: block;
            margin: 30px 0 0 0;
        }

        .results-link a,
        .govuk-details__text,
        .govuk-details__summary {
            color: $beis-navy-blue;
        }

        .results-link a,
        .govuk-details__summary {
            text-decoration: underline;
        }

        .govuk-details__text {
            border-left-color: $beis-navy-blue;
        }
    }

    .beis-white {
        .results-link {
            .beis-link-icon {
                margin-left: 0px;
                margin-right: 10px;
                vertical-align: middle;
                flex-shrink: 0;
                align-self: center;
            }

            display: block;
            margin: 30px 0 0 0;
        }

        .results-link a,
        .govuk-details__text,
        .govuk-details__summary {
            color: $beis-navy-blue;
        }

        .results-link a,
        .govuk-details__summary {
            text-decoration: underline;
        }

        .govuk-details__text {
            border-left-color: $beis-navy-blue;
        }
    }
}

.article {
    .beis-columns-same-height {
        display: flex;

        @include respond(tablet) {
            display: block;
        }
    }

    .top-line {
        height: 10px;
        display: block;
        box-sizing: border-box;
    }

    .hero-mobile-image {
        width: 100%;
    }

    .left-column {
        overflow: hidden;
        display: flex;
    }

    .beis-stretch-content {
        display: flex;
        align-content: space-between;
        flex-direction: column;

        .govuk-grid-row {
            display: flex;
            flex: auto;

            .stick-to-bottom {
                flex-grow: 1;
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
                margin: 20px 0 0 0;
            }
        }
    }

    .right-column {
        display: flex;
        flex-flow: column;
        align-content: space-between;

        @include respond(tablet) {
            padding: 0;
            border-top: none;
        }
    }
}

.button-link {
    font-weight: 700;
    color: #1D70B8;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    background: transparent;
    border: 0;
    padding: 0;
}

.tag-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.btn-as-link {
    background: transparent;
    border: none;
    cursor: pointer;
}

.js .noJsLink {
    display: none;
}

.nojs .jsLink {
    display: none;
}

.p-left-20 {
    padding-left: 20px;
}

.link-icon-align {
    margin-bottom: -4px;
}

span.govuk-link-divider {
    color: #1D70B8;
}

.link-list-hero {
    h3 {
        font-weight: lighter;
        font-size: 1.4em;
        margin: 0px 0px;
    }
    span.govuk-link-divider {
        color: #1D70B8;
    }
}

//image item component
.image-item {
    position: relative;
}

@media screen and (max-width: 40.0525em) {
    .image-item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 40.0625em) {
    .image-item {
        display: block;
        padding-left: 160px;
        margin-bottom: 1rem; //4rem;
    }
}

.image-item .media-image {
    width: 130px;
    height: 130px;
}

@media screen and (max-width: 40.0525em) {
    .image-item .media-image {
        display: flex;
        flex-basis: 130px;
    }
}

@media screen and (min-width: 40.0625em) {
    .image-item .media-image {
        position: absolute;
        top: 0;
        right: auto;
        bottom: auto;
        left: 0;
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 40.0525em) {
    .image-item .media-title {
        display: flex;
        flex-basis: calc(100% - 145px);
        align-items: center;
        padding-left: 15px;
    }
}

@media screen and (min-width: 40.0625em) {
    .image-item .media-title {
        display: block;
        width: 100%;
    }
}

.image-item .media-content {
    display: block;
}

@media screen and (max-width: 40.0525em) {
    .image-item .media-content {
        flex-basis: 100%;
        margin-top: 15px;
    }
}


//AccordionList component
.accordion-wrapper .accordion-item {
    margin-bottom: 10px;
}

.accordion-wrapper .accordion-item .accordion {
    display: block;
    width: 100%;
    padding: 20px 20px !important;
    background-color: #1e1a32 !important;
    color: #ffb001 !important;
    cursor: pointer;
    padding-right: 60px !important;
    position: relative;
    text-align: left;
    outline: none;
    border: none;
    transition: 0.4s;
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: bold;
}

.accordion-wrapper .accordion-item .accordion:after {
    content: "";
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    left: auto;
    display: block;
    margin: auto;
    width: 32px;
    height: 40px;
    background: url("/assets/images/accordion-arrow.svg") no-repeat center center;
    transform: rotate(180deg);
    transition: 0.4s;
}

.accordion-wrapper .accordion-item .accordion.active:after {
    transform: none;
}

.accordion-wrapper .accordion-item .panel {
    padding: 0 0 !important;
    display: none;
    background-color: white;
}

.accordion-wrapper .accordion-item .panel ul {
    padding-left: 15px !important;
}

.accordion-wrapper .accordion-item .panel .graybgpnl {
    margin: 0 !important;
    background-color: #efefef !important;
    padding: 1px 15px 1px 20px;
}

.accordion-wrapper .accordion-item .panel ul li {
    margin-bottom: 20px;
}

@media screen and (max-width: 375px) {

    .card .cards {
        margin: 0 !important;
        padding: 10px 20px 10px 27px;
    }

    .card .cards .number {
        width: 25px;
        height: 25px;
        font-size: 20px;
        line-height: 25px;
    }

    .card .cards a.govuk-link, .card .cards p {
        font-size: 15px;
    }

    .card .cards .number.two,
    .card .cards .number.one,
    .card .cards .number.three,
    .card .cards .number.four {
        left: -15px;
    }

    .govuk-body a.button-link {
        word-break: break-all;
        display: block;
        font-size: 12px;
    }

    .social-media .icon {
        padding-right: 0 !important
    }

    .resources .resources-intro-text {
        font-size: 20px
    }

    .govuk-footer__meta-item {
        margin-left: 0 !important;
        margin-right: 0 !important
    }

    .govuk-footer__meta-item--grow {
        flex-basis: 100% !important
    }

    .govuk-footer__meta {
        margin: 0 !important
    }

    .quote {
        overflow: hidden;
        word-break: break-all;
        font-size: 16px !important
    }
}

@media screen and (max-width: 200px) {
    .card .cards a.govuk-link, .card .cards p {
        word-break: break-all;
    }

    .govuk-footer__meta-item {
        margin-left: 0;
        margin-right: 0
    }
}


.beis-underline {
    padding-top: 0.625rem !important;
    background-color: #FFB000;
    margin-bottom: 0.625rem !important;
    margin-left: -1.25rem;
}

.beis-yellow summary.govuk-details__summary {
    color: $beis-navy-blue;
}


.text-with-arrow-img-col1 {
    display: inline-block;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 700;
    padding-right: 10px;
}

.text-with-arrow-img-col2 {
    display: inline-block;
    margin-bottom: 25px;
    vertical-align: middle;
    padding-top: 20px;
    align-self: center;
}

.two-column-text-mobile-divider {
    display: none;
}

.two-column-text-desktop-divider {
    display: block;
    margin: auto;
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
}


.two-column-text-col2 {
    padding-left: 25px;
}

@media screen and (max-width: 40.0525em) {

    .text-with-arrow-img-col1 {
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }

    .text-with-arrow-img-col2 {
        display: none;
    }

    .two-column-text-mobile-divider {
        display: block;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        font-weight: 700;
    }

    .two-column-text-desktop-divider {
        display: none;
    }

    .two-column-text-col1 {
        padding-left: 12px;
    }

    .two-column-text-col2 {
        padding-left: 12px;
    }
}


button.govuk-back-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
}