@import 'beis-variables.scss';
@import 'beis-mixins.scss';

.navigation-breadcrumb {
    .govuk-width-container {
        margin-top: 15px;

        .govuk-grid-column-full {
            a {
                color: #000;
            }

            a:first-child {
                font-weight: 700;
            }

            span {
                color: #000;
            }

            .next-pointer {
                margin-top: 2px;
            }
        }
    }
}