@import 'beis-variables.scss';
@import 'beis-mixins.scss';

.quote-callout {

    .quote {
        padding:30px 15px;
    }

    .author{
        padding: 20px 0 0 0;
    }

    .left-column {
        justify-content: flex-end;
        .plain-text{
            margin-left: -15px;
            margin-right: 20px;
        }
    }

    .right-column {
        justify-content: flex-start;

        .plain-text{
            margin-left: 20px;
        }
    }

    .govuk-body {
        margin: 0;

        p {
            margin: 0;
            @include respond(mobile) {
                margin: initial;
            }
        }

        &.plain-text{
            @include respond(mobile) {
                margin: 30px -15px 30px -15px;
            }
        }
    }
}
