@import 'beis-variables.scss';
@import 'beis-mixins.scss';

.search-article-listing {
    h3 {
        &.govuk-heading-l {
            font-size: 1.5em;
            height: 40px;
        }
    }

    .filter-header {
        h3 {
            &.govuk-heading-l {
                font-size: 1.5rem;
                height: 40px;
            }
        }
    }

    .left-column {
        img {
            width: 160px;
            max-height: 160px;
            overflow-y: hidden;
        }
    }

    .thin-line {
        padding-top: 1px;
    }
}
