.svgimg {
    color: black;
    margin-right: 2px;
    margin-left: 0px;
    margin-right: 10px;
    vertical-align: middle;
    flex-shrink: 0;
    align-self: center;
    width: fit-content !important;
}
