.beis-hero-banner {
    padding: 0 15px;
}

.beis-hero-banner__content {
    max-width: 465px;
    float: right;
    padding: 30px 0;
}

.beis-hero-banner__logo {
    max-width: 100%;
    width: 80%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.beis-hero-banner__row {
    display: flex;
}