@{
    Layout = "~/Views/Shared/SatisfactionSurveyViews/_SatisfactionSurveyLayout.cshtml";
}

<div class="govuk-body">
    <h1 class="govuk-heading-l">Thanks for your feedback </h1>
    <p>
        Your feedback will help us improve the Help to Grow: Digital service in the future. If you’d like to tell us more about your experience today, use the link below to access our survey, or
        <a asp-controller="Home" asp-action="Index">return to the Help to Grow: Digital website</a>        
    </p>
    <p>
        <a class="govuk-button govuk-button--start primary" target="_blank" href="https://beis.fra1.qualtrics.com/jfe/form/SV_0GLt4cTG0Oi1Pmu">Start survey</a>
    </p>
</div>