.beis-homepage-hero-banner {
    background: $beis-navy-blue;
    color: #fff;
    padding: 15px 0;
    @include govuk-media-query (tablet) {
        padding: 30px 0;
    }
    border-bottom: 5px solid grey;
}

.beis-homepage-hero-banner__heading {
    margin-top: 15px;
    color: inherit;
}

.beis-homepage-hero-banner__content * {
    @include govuk-font($size: 24);
    color: inherit;
}

.beis-homepage-hero-banner__content a,
.beis-homepage-hero-banner__content a:link,
.beis-homepage-hero-banner__content a:visited {
    color: $beis-yellow;
    font-weight: $govuk-font-weight-bold;
}

.beis-homepage-hero-banner__content a:focus {
    color: $govuk-focus-text-colour;
}
