$beis-navy-blue:        $navy-blue;
$beis-blue:             $blue;
$beis-blue-feedback:    $royal-blue;
$beis-aqua:             $aqua;
$beis-yellow:           $yellow;
$beis-yellow-light:     $yellow-light;