@model CmsExpressionOfInterestViewModel

<div class="expression-of-interest @Model.Component.AlteredMarginTopSpace @Model.Component.AlteredMarginBottomSpace govuk-body">

    <div>
        <div>
            <div class="feedback-prompt">
                <div class="feedback-bg-color">
                    <div class="govuk-width-container govuk-!-padding-1" id="step1">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full-width">
                                <div>
                                    <div class="govuk-grid-column-two-thirds">
                                        <h1>Get news and updates about the scheme</h1>
                                    </div>
                                    <div class="govuk-grid-column-one-third govuk-!-padding-6">
                                        <a onClick="eoi.goToStep(2)" role="button" draggable="false" class="govuk-button govuk-button--start primary" data-module="govuk-button">
                                            Sign up
                                            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                                                <path fill="#FFB000" d="M0 0h13l20 20-20 20H0l20-20z" />
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


<div class="govuk-width-container govuk-!-padding-1 expression-of-interest govuk-body">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full-width">
            <div class="govuk-grid-row govuk-!-padding-1" id="step2">
                <h1 class="govuk-heading-l govuk-!-font-weight-bold">Enter your details</h1>
                <h3 class="govuk-!-padding-4 govuk-!-margin-left-3 govuk-!-font-weight-bold">Get information about Help to Grow:Digital including news,events and when software becomes available by entering your details below.</h3>
                <div class="govuk-grid-row govuk-!-padding-4">
                    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary" id="errorsummary">
                        <h2 class="govuk-error-summary__title" id="error-summary-title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <li id="name-error">
                                    <a href="#name">Please enter your name</a>
                                </li>
                                <li id="businessname-error">
                                    <a href="#business-name">Please enter your business name</a>
                                </li>
                                <li id="contact-error">
                                    <a href="#email">You must add either your phone number or valid email address to submit this form</a>
                                </li>
                                <li id="privacyPolicy-error">
                                    <a href="#privacyPolicy">Please tick to confirm you've read our privacy policy</a>
                                </li>
                                <li id="submission-error">
                                    <a href="#">Failed to submit. Please try again.</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="govuk-grid-column-one-half govuk-form-group" id="errorname">
                        <label class="govuk-label" for="name">
                            Name
                        </label>
                        <p id="errorname" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Please enter your name
                        </p>
                        <input class="govuk-input" id="name" name="name" type="text" />
                    </div>

                    <div class="govuk-grid-column-one-half" id="errorbusinessname">
                        <label class="govuk-label" for="business-name">
                            Business name
                        </label>
                        <p id="errorbusinessname" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>Please enter your business name
                        </p>
                        <input class="govuk-input" id="business-name" name="business-name" type="text">
                    </div>
                </div>
                <h3 class=" govuk-!-margin-left-7 govuk-!-font-weight-bold">Please enter how you would like to be contacted</h3>
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body govuk-!-margin-left-4">I consent to the Department for Business, Energy & Industrial Strategy (BEIS) contacting me(including through one or more of the third party recipients identified in the policy) by:</p>
                </div>
                <div class="govuk-grid-row govuk-!-padding-4">
                    <div class="govuk-grid-column-one-half" id="erroremail">
                        <label class="govuk-label" for="email">
                            Email address (optional)
                        </label>
                        <p id="erroremail" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> Please enter a valid email address.(e.g. name@domain.com)
                        </p>
                        <input class="govuk-input" id="email" name="email" type="text">
                    </div>
                </div>
                <div class="govuk-grid-row govuk-!-padding-4">
                    <div class="govuk-grid-column-one-half" id="errorphonenumber">
                        <label class="govuk-label" for="phone-number">
                            Phone number (optional)
                        </label>
                        <p id="errorphonenumber" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>Please enter a phone number
                        </p>
                        <input class="govuk-input" id="phone-number" name="phone-number" type="number">
                    </div>
                </div>


                <p class="govuk-body govuk-!-margin-left-4 govuk-grid-column-two-thirds">to keep me informed about news,updated and events relating to Help to Grow: Digital and contact me if I have expressed interest in receiving more information. By filling out the box(es) above I am freely consenting to BEIS(and/or the third party recipients identified in the privacy policy) holding and processing my personal data for these purposes.</p>



                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <div class="govuk-checkboxes govuk-!-padding-3 govuk-!-margin-left-1" data-module="govuk-checkboxes" id="errorprivacyPolicy">
                            <p id="errorprivacyPolicy" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span>Please tick to confirm you've read our privacy policy
                            </p>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="privacyPolicy" name="privacyPolicy" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label" for="privacyPolicy">
                                    Tick this box to confirm you have read our <a href="/privacy">privacy policy</a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="govuk-grid-row govuk-!-margin-top-8 govuk-!-padding-3 govuk-!-margin-left-4">
                    <div class="govuk-button-group">
                        <form method="post" id="expresssion-of-interest-form" style="display:none;">@* <!-- __RequestVerificationToken autogenerated here --> *@</form>
                        <button class="govuk-button primary" data-module="govuk-button" onClick="eoi.submit()">
                            Submit
                        </button>

                        <button class="govuk-button secondary" data-module="govuk-button" onClick="eoi.goToStep(1)">
                            Cancel
                        </button>
                    </div>
                </div>

            </div>
            <div id="step3">
                <h1 class="govuk-!-padding-4">Thank you for your response</h1>
                <div class="govuk-body govuk-!-padding-4">
                    We will email you when we add new software or support to the Help to Grow: Digital scheme
                </div>
                <div class="govuk-body govuk-!-padding-4">
                    You can find more help on how to choose, buy and implement software in our <a class="govuk-link" href="#">articles and case studies</a>
                </div>
            </div>
        </div>
    </div>
</div>