@model Beis.LearningPlatform.Web.Models.ComparisonToolPageViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main-heading" role="main" class="beis-main-wrapper">
    <partial name="ComparisonToolViews/_PartialProductDetails"  model="@Model" />
</main>